@charset "utf-8";
#section_4{
    background:#f4f0ea;
    padding-bottom: 60px;
    .sec4_top{
        padding:60px 0 15px 0;
        h3{
            font-size: 28px;
            font-weight: 700;
            float: left;
            margin-right: 20px;
        }
        .more{
            padding-top:15px;
            float:right;
            cursor: pointer;
            font-size: 14px;
            color:black;
        }
        .more a{
        font-size: 14px;
        color:black;
        }   
    }
   .sec4_show{
       background:white;
       >div{
           float:left;
       }
       .link{
           width:224px;
           height:376px;
       }
       .sec4_middle{
           width:600px;
           margin-left: 20px;
           .mtop{
               width:588px;
               padding:19px 0 12px 0;
               border-bottom: 1px solid #ccc;
               .lt{
                   font-size: 16px;
                   float:left;
               }
               .lr{
                  font-size: 12px;
                   float:right; 
               }
           }
           .mbottom{
               >div{
                   margin-top:20px;
                   margin-right: 12px;
                   height:130px;
                   width:280px;
                   float:left;
                   img{
                       float:left;
                   }
                   >div{
                       float: left;
                       margin-left: 20px;
                       a{
                            display: block;
                            color:#333;
                            font-size: 14px;
                            margin:10px 0 4px 0;
                            width:122px;
                       }
                       .intime{
                           color: #BE4141;
                           font-size: 14px;
                       }
                       .money{
                           font-size: 12px;
                           vertical-align: -2px;
                           color: #BE4141;
                       }
                       .aprice{
                           color: #BE4141;
                            vertical-align: -2px;
                            font-size: 20px;
                            font-weight: 700;
                       }
                       del{
                           font-size: 14px;
                           color:#A4A4A4;
                           margin: 4px 0;
                           display: block;
                       }
                       .tobuy{
                            width: 90px;
                            line-height: 26px;
                            text-align: center;
                            background-color: #BE4141;
                            border: 1px solid #D25A5A;
                            border-radius: 2px;
                            color:white;
                            font-size: 14px;
                            margin-top: 30px;
                       }
                   }
               }
           }
       }
       .sec4_right{
           width:225px;
           height:356px;
           border-left:1px solid #ccc;
           padding-top:20px; 
           padding-left: 10px; 
           .scart{
                display: inline-block;
                height: 16px;
                width: 20px;
                background:url($bg) 0 -116px;
                border-radius: 20px;
                margin-left: 20px;
                
           }
           .sec4_st{
               .sec4_st{
                  .rtop{
                      margin-top:30px;
                  } 
               }
               .rtop{
                   margin-bottom: 20px;
                   .rt{
                       float: left;
                       color: #333;
                       vertical-align: bottom;
                   }
                   .rr{
                       margin-top:5px;
                       float: right;
                       color: #333;
                       font-size: 8px;
                       vertical-align: bottom;
                   }
               }
               
               .rbottom{
                   .rb_rt{
                       margin-bottom:10px;
                       img{
                           float: left;                           
                       }
                       .rbr{
                           float:right;
                           a{
                               display: block;
                               font-size: 14px;
                               color: #333;
                               max-width: 130px;
                               margin:4px 0 10px;
                               overflow: hidden;
                               white-space: nowrap;
                               text-overflow: ellipsis;                           }
                            }
                            .money,.aprice{
                                display: inline-block;
                                color: #BE4141;
                                font-size: 14px;
                            }
                            del{
                               font-size: 14px;
                               color:#ccc; 
                            }
                        }
                    }
                }
            }
        }
    
}