#section_6{
    padding-bottom: 60px;
    .sec6_top{
        padding-bottom: 25px;
        .h3{
            font-size: 28px;
            font-weight: 700;
            line-height: 1;
            float: left;
            margin-right: 20px;
        }
        .xunzhao{
            display: inline-block;
            font-size: 14px;
            margin-top: 15px;
        }
    }
    img{
        float:left;
    }
    .pic2{
        margin-bottom: 10px;
    }
    .pic1{
        margin-right: 10px;
    }
}
