body, html {
  height: 100%;
  width: 100%; }
body #log, html #log {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 222; }
body #login, html #login {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%; }
body #login .cha, html #login .cha {
  background: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxclose-s2ee250e88f-0060a787aa.png) 0 -59px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 349px;
  top: 3px;
  z-index: 1000; }
body #login .include, html #login .include {
  position: relative;
  padding: 30px 40px 83px;
  width: 300px;
  background: white; }
body #login .headerwrap .htitle1, html #login .headerwrap .htitle1 {
  color: #333;
  margin-left: 10px;
  cursor: pointer;
  float: left;
  font-size: 18px;
  line-height: 18px; }
body #login .headerwrap .htitle2, html #login .headerwrap .htitle2 {
  margin-left: 105px;
  cursor: pointer;
  color: #999;
  float: left;
  font-size: 18px;
  line-height: 18px; }
body #login .dc, html #login .dc {
  margin: 20px 0 5px 0;
  height: 26px;
  line-height: 26px;
  padding: 0 0 0 34px;
  cursor: pointer;
  font-size: 12px; }
body #login .dc a, html #login .dc a {
  text-decoration: none;
  float: right;
  color: #666; }
body #login .inputbox, html #login .inputbox {
  width: 298px !important;
  height: 36px;
  border: 1px solid #e8e8e8;
  line-height: 36px;
  border-radius: 2px; }
body #login .inputbox .call-logo, html #login .inputbox .call-logo {
  background: url(//yanxuan.nosdn.127.net/49f4a785eb9ded4831d8cb0ede642b3e.png) 4px 2px no-repeat;
  display: inline-block;
  width: 21px;
  height: 24px;
  padding-right: 7px;
  border-right: 1px solid #e8e8e8;
  margin-left: 6px;
  position: relative;
  top: 7px; }
body #login .inputbox input, html #login .inputbox input {
  color: #666;
  border: none;
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  width: 214px;
  font-size: 14px;
  font-weight: normal; }
body #login .slider, html #login .slider {
  margin-top: 15px;
  width: 298px !important;
  border: 1px solid #e8e8e8;
  text-align: center;
  color: black;
  font-size: 14px;
  position: relative;
  height: 38px !important;
  line-height: 13px !important; }
body #login .slider p, html #login .slider p {
  position: absolute;
  top: 13px;
  left: 80px; }
body #login .slider .slider-l, html #login .slider .slider-l {
  width: 40px;
  border-radius: 2px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 38px !important;
  position: absolute !important;
  top: 0px !important; }
body #login .slider .slider-l i, html #login .slider .slider-l i {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -6px;
  width: 14px;
  height: 10px;
  background-image: url(https://cstaticdun.126.net//2.9.8/images/icon_light.f0aea65.png);
  background-position: 0 -13px;
  background-size: 34px 494px; }
body #login .yanzh input, html #login .yanzh input {
  margin: 15px 0;
  padding-left: 7px;
  color: #666;
  width: 209px !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 36px;
  border: 1px solid #e8e8e8;
  line-height: 36px;
  border-radius: 2px; }
body #login .yanzh a, html #login .yanzh a {
  width: 81px;
  margin-left: -4px;
  display: inline-block;
  height: 39px;
  line-height: 38px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: black;
  background-color: #eee; }
body #login span, html #login span {
  display: inline-block;
  width: 250px;
  margin-top: -2px;
  color: #d4282d;
  font-size: 12px;
  line-height: 20px;
  vertical-align: top; }
body #login .gg, html #login .gg {
  display: none;
  vertical-align: top;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background: url(//yanxuan.nosdn.127.net/41423518477b7934c02ac4ecb21b7b82.png) 0 0px no-repeat; }
body #login button, html #login button {
  width: 100%;
  height: 48px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background: #b4a078;
  font-size: 18px;
  line-height: 48px;
  border-radius: 2px;
  border: none; }
body #login .login-bot, html #login .login-bot {
  height: 60px;
  background: #F5F3EF;
  overflow: hidden;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }
body #login .login-bot i, html #login .login-bot i {
  margin-top: 10px;
  width: 36px;
  height: 33px;
  display: inline-block;
  vertical-align: bottom; }
body #login .login-bot i:nth-of-type(1), html #login .login-bot i:nth-of-type(1) {
  margin-left: 27px;
  background: url("../img/77f98b239f0d848eb54151c4ad6eab96.png") 0 0; }
body #login .login-bot i:nth-of-type(2), html #login .login-bot i:nth-of-type(2) {
  background: url("../img/77f98b239f0d848eb54151c4ad6eab96.png") 0 -240px; }
body #login .login-bot i:nth-of-type(3), html #login .login-bot i:nth-of-type(3) {
  background: url("../img/77f98b239f0d848eb54151c4ad6eab96.png") 0 -119px; }
body #login .login-bot i:nth-of-type(4), html #login .login-bot i:nth-of-type(4) {
  background: url("../img/77f98b239f0d848eb54151c4ad6eab96.png") 0 -78px; }
body #login .login-bot a, html #login .login-bot a {
  margin-left: 30px;
  vertical-align: bottom;
  text-decoration: none;
  cursor: pointer;
  color: #999;
  font-size: 12px; }

/*# sourceMappingURL=login.css.map */
